@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zyzol";
  src: url("./fonts/ZyzolOutline-OVr46.otf");
}
@font-face {
  font-family: "Zyzol-text";
  src: url("./fonts/Zyzol-jEX4v.otf");
}
